@{
    ViewBag.Title = "Authorization";
}

<h2>You dont have permissions to view this reource</h2>

<p>
    Please login as user that have such permissions @Html.ActionLink("here", "Login", "Account")
</p>
