@using System.Security.Principal
@{
    ViewBag.Title = "Home Page";
}

<div>
    <ul>
        <li>@Html.ActionLink("Login", "LoginUser1", "Account") as user with permission1 (user1/user1) 
            @if (User.HasPermission(ExtendedMongoMembership.Permissions.Permission1))
            {
                <a href='/access/permission1'>Go to page with your permission1</a>
            }
        </li>

        <li>@Html.ActionLink("Login", "LoginUser2", "Account") as user with permission2 (user2/user2) 
            @if(User.HasPermission(ExtendedMongoMembership.Permissions.Permission2))
            {
                <a href='/access/permission2'>Go to page with your permission2</a>
            }

        </li>

        <li>@Html.ActionLink("Login", "LoginUser3", "Account") as user with permission3 (user3/user3) 
            @if(User.HasPermission(ExtendedMongoMembership.Permissions.Permission3))
            {
                <a href='/access/permission3'>Go to page with your permission3</a>
            }
        </li>
    </ul>
</div>
